
body {
    font-family: 'Arial', sans-serif;
    background-color:#4747e6;
}

h1 {
    color: #333;
    text-align: center;
}

.stMetric {
    background-color: #4747e6;
    border-radius: 8px;
    padding: 10px;
}

.css-1aumxhk, .css-qbe2hs {
    color: #4b8bbe;
    font-size: 16px;
}

.stButton>button {
    background-color: #4b8bbe;
    color: #34ebcf;
    border-radius: 5px;
    padding: 10px;
}

.stButton>button:hover {
    background-color: #336699;
    color: #34ebcf;
}

.stDataFrame {
    border: 1px solid #ccc;
    border-radius: 8px;
}

.stSidebar {
    background-color: #4747e6;
    border-right: 1px solid #ddd;
}
